:root {
    --gradient-dark: rgba(1, 1, 1, 1);
    --gradient-transparent: rgba(0, 0, 0, 0);

    --poster-dark-gradient: rgba(56, 56, 56, .84);
    --color-main-white: rgb(255, 255, 255);
    --color-blue-btn: rgba(35, 166, 240, 1);
    --color-light-blue: rgba(142, 194, 242, 1);
    --color-dark-blue: rgba(37, 43, 66, 1);
    --color-light-grey: rgba(115, 115, 115, 1);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,
    var(--gradient-dark), var(--gradient-transparent)),
    url(../img/hero-cover.1.jpg);
    background-size: cover;
    background-position: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 110rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
}

.nav-brand {
    text-decoration: none;
    color: var(--color-main-white);
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 12rem;
}

.nav-items {
    display: flex;
    flex-grow: 1;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--color-main-white);
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.nav-item:not(:last-child) {
    margin-right: 2rem;
}

.nav-btn-container {
}

.btn-login {
    margin-right: 4.5rem;
}

.btn-text {
    display: inline-block;
    text-decoration: none;
    color: var(--color-main-white);
    line-height: 2.2rem;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.blue-btn {
    background-color: var(--color-blue-btn);
}

.nav-btn {
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
}

.header-context-container {
    width: 60rem;
    margin-top: 12.5rem;
}

.header-title {
    font-size: 5.8rem;
    font-weight: 800;
    line-height: 8rem;
    letter-spacing: 1px;
    color: var(--color-main-white);
    margin-bottom: 3.5rem;
}

.header-subtitle {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: .8px;
    color: var(--color-main-white);
    margin-bottom: 3.5rem;
    width: 50rem;
}

.header-btn-container {
    display: flex;
    justify-content: space-between;
    width: 37rem;
}

.header-btn {
    padding: 1.5rem 3.5rem;
    border-radius: 10rem;
    margin-bottom: 12rem;
}

.white-border-btn {
    border: 1px solid var(--color-main-white);
}

.features,
.posters {
    background-color: var(--color-dark-blue);
}

.feature-container {
    display: flex;
    justify-content: center;
}

.feature-container:not(:last-child) {
    margin-right: 3rem;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32.5rem;
    height: 24rem;
    margin: 9.5rem 0;
}

.feature-card-img {
    width: 5.6rem;
    margin-bottom: 3rem;
}

.feature-card-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23.5rem;
}

.feature-card-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-main-white);
    line-height: 2.4rem;
    margin-bottom: 1rem;
}

.feature-card-subtitle {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-main-white);
    line-height: 2rem;
    text-align: center;
}

.testimonials {
    background-color: var(--color-light-blue);
}

.testimonials-container,
.posters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11rem 0;
}

.main-heading-box {
    width: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.main-heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.7rem;
    color: var(--color-main-white);
    margin-bottom: 1rem;
}

.main-subheading {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--color-main-white);
    text-align: center;
}

.testimonials-bottom-container {
    display: flex;
}

.testimonials-bottom-container:not(:last-child) {
    margin-right: 3rem;
}

.testimonial-card {
    width: 45rem;
    background-color: var(--color-main-white);
    position: relative;
    margin: 4rem 2.4rem 3.3rem 9.2rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

.testimonial-user {
    position: absolute;
    top: 2rem;
    left: -5rem;
    width: 7.2rem;
    border-radius: 20rem;
}

.testimonial-card-heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: var(--color-dark-blue);
    margin-top: 3rem;
}

.testimonial-card-profession {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: var(--color-light-grey);
    margin-bottom: 1.5rem;
}

.testimonial-text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--color-light-grey);
    margin-top: 1.5rem;
    margin-bottom: 3rem
}

.posters-box {
    display: flex;
    width: 140rem;
    justify-content: space-between;
}


.poster {
    display: flex;
    justify-content: center;
    width: 33rem;
    height: 45rem;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.poster-img {
    width: 100%;
    object-fit: cover;
}

.poster-content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem;
    background: linear-gradient(
            to top,
            var(--poster-dark-gradient),
            var(--gradient-transparent));
}

.poster-description {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: var(--color-main-white);
    margin-bottom: 1.5rem
}

.poster-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--color-main-white);
    margin-bottom: 1.5rem
}

.poster-btn {
    padding: 1rem 3.6rem;
    border-radius: 20rem;
    margin-bottom: 1.7rem;
    z-index: 1;
}

